<h1>Editing private invite</h1>

<%= render "form", private_invite: @private_invite %>

<br>

<div>
  <%= link_to "Show this private invite", @private_invite %> |
  <%= link_to "Back to private invites", private_invites_path %>
</div>
